<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>换物车</title>

    <link href="css/reset.css" rel="stylesheet">
    <link href="css/exchange.css" rel="stylesheet">
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    < ![endif]-->
  </head>

  <body>
    <div class="container-gray">
      <!-- 头部 -->
      <div class="cart-title">
        <a href="javascript:history.go(-1);"><i class="icon iconfont">&#xe61f;</i></a>
        <span>换物车</span>
      </div>

      <!-- 主要内容 -->
      <div class="cart-main">
        <?php
          if(count($re_data)==0 and $re_data[0]=="" ){
        ?>
        <div class="cart-none">
          <i class="icon iconfont">&#xe611;</i>
          <p>你的换物车还是空的</p>
        </div>

        <?php
          }
        ?>

        <ul>
          <?php //dump($re_data); ?>
          <volist name="re_data" id="vo" key="k">
            <?php $new_attr=$vo['attr_val'];   ?>
            <li class="clearfix"  cart="{$vo.id}">
            <div class="checkboxFour">
              <input type="checkbox" id="checkboxFourInput{$k}" name="checkbox1"/>
              <label for="checkboxFourInput{$k}"></label>
            </div>
            <div class="cart-img"><a href='index.php?s=/Home/Selected/goods_info&good_id={$vo.goods_id}<?php echo $GLOBALS['puid_url'];   ?>'><img src="{$vo.good_cover}" alt=""></a></div>
            <div class="main-title">
              <p><a class="carts-goods-title" href='index.php?s=/Home/Selected/goods_info&good_id={$vo.goods_id}<?php echo $GLOBALS['puid_url'];   ?>'>{$vo.good_name}</a></p>
              <p>
                <volist name="new_attr" id="vo1" >
                  {$vo1} &nbsp;&nbsp;
                </volist>
              </p>
              <div class="cart-integral clearfix">
                <div><span class="fraction">{$vo.money}</span> 积分</div>
                <p class="clearfix">
                  <span class="reduce" onclick="change_cart(0,{$vo.id})">-</span>
                  <span class="number">{$vo.amount}</span>
                  <span class="add" onclick="change_cart(1,{$vo.id})">+</span>
                </p>
              </div>
            </div>
            <p><i class="icon iconfont cart-delete" onclick="change_cart(2,{$vo.id})">&#xe62b;</i></p>
          </li>

          </volist>

        </ul>
      </div>

    <!-- 详情开始 -->
      <div class="product-show personal-love cart-love">
        <div class="love-text">
          <span></span>
          <p class="clearfix"><i class="icon iconfont">&#xe655;</i><span>猜你喜欢</span></p>
        </div>
        <div class="clearfix">
          <volist name="you_like" id="vo">
            <a href="index.php?s=/Home/Selected/goods_info&good_id={$vo.good_id}<?php echo $GLOBALS['puid_url'];   ?>">
              <img src="{$vo.good_cover}" alt="">
              <h2>{$vo.good_name}</h2>
              <p>{$vo.goods_producer} </p>
              <span>{$vo.good_value}积分</span>
            </a>
          </volist>



          <!--<a href="">
            <img src="images/11.jpg" alt="">
            <h2>饼干零食糕点</h2>
            <p>越南进口 Tipo面包干鸡蛋牛奶味300g饼干零食糕点</p>
            <span>30积分</span>
          </a>
          <a href="">
            <img src="images/11.jpg" alt="">
            <h2>饼干零食糕点</h2>
            <p>越南进口 Tipo面包干鸡蛋牛奶味300g饼干零食糕点</p>
            <span>30积分</span>
          </a>
          <a href="">
            <img src="images/11.jpg" alt="">
            <h2>饼干零食糕点</h2>
            <p>越南进口 Tipo面包干鸡蛋牛奶味300g饼干零食糕点</p>
            <span>30积分</span>
          </a>-->
        </div>
      </div>
      <!-- 详情结束 -->

      <!-- 结算 -->
      <div class="cart-settlement footer-max clearfix">
        <div class="cart-cancel pull-left">
          <div class="checkboxFour">
            <input type="checkbox" id="checkboxFourInput" name="checkbox1"/>
            <label for="checkboxFourInput"></label>
          </div>
          <span>全部选择</span>
        </div>
        <button class="pull-right" id="jiesuan">结算</button>
        <div class="total pull-right">合计：<span class="all-fraction">0</span><span>积分</span></div>
      </div>

      <!-- 页脚 -->
      <div class="footer footer-max clearfix">
        <?php  include "./Application/Home/View/Public/footer.php"; ?>
      </div>
      <!-- 页脚 -->
    </div>

    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <script type="text/javascript">
      cart_circle();
      choice_circle();
    </script>
  </body>
</html>
