<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>{$set.name}-购务车</title>

    <link href="__CSS__bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__iconfont.css" rel="stylesheet">
    <link href="__CSS__all.css" rel="stylesheet">
    <!--[if IE]>
      <script src=”http://html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    < ![endif]-->
  </head>

  <body style="background-color:#f3f3f3;">
    <div class="wrapper">
      <div class="mobile-inner-header">
        <a href="{:U('Personal/vip')}"><i class="iconfont">&#xe601;</i></a>
        <span>购务车</span>
        <div class="mobile-inner-header-icon mobile-inner-header-icon-out"><span></span><span></span></div>
      </div>
      <div class="mobile-inner-nav">
        <a href="{:U('Index/index')}">首页</a>
        <volist name="good_type" id="goodtype">
        <a href="{:U('Index/service',array('type_id'=>$goodtype['type_id']))}">{$goodtype.type_name}</a>
       <!--  <a href="#">市场服务</a>
        <a href="#">培训服务</a>
        <a href="#">客服服务</a>
        <a href="#">文案服务</a>
        <a href="#">设计服务</a>
        <a href="#">技术服务</a> -->
        </volist>
        <a href="{:U('Personal/vip')}">会员中心</a>
      </div>
    </div>
    
    <img class="cart-none center-block" src="__IMAGES__cart-none.jpg" alt="">
    
    <div class="static-footer">— {$set.copyright} —</div>
    
    <script src="__JS__jquery-2.2.2.min.js"></script>
    <script src="__JS__all.js"></script>
  </body>
</html>