<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>{$title}</title>

    <link href="css/reset.css" rel="stylesheet">
    <link href="css/exchange.css" rel="stylesheet">
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    < ![endif]-->
  </head>

  <body style="background-color: #F5F5F5">
    <div class="container">
      <!-- 头部 -->
      <div class="cart-title">
        <a href="javascript:history.go(-1);"><i class="icon iconfont">&#xe61f;</i></a>
        <span>{$title}</span>
      </div>

      <!-- 主要内容 -->
      <div class="payment" >
        <?php
          if(count($data)==0  ){
        ?>
        <div class="cart-none order-none">
          <p>暂无待订单╭(╯ε╰)╮</p>
        </div>

        <?php
          }
        ?>
        <ul id="goods_list_page">
          <?php // dump($data); ?>
        <volist name="data" id="vo" key="key">
            <?php $detail=array();$detail=$vo['goods_list'];  ?>
            <li>
                <div class="title clearfix">
                  <p class="pull-left">订单号：<span>{$vo.order_no}</span><?php  if($vo['is_false']==0){ ?>&nbsp;&nbsp;<span style="color:#f00;">已失效</span><?php }?></p>
                  <p class="pull-right">{$vo.order_status_title}</p>
                </div>

                <div class="sumbit-order clearfix">
                  <i class="icon iconfont pull-left">&#xe606;</i>
                  <div class="pull-left">
                    <p class="receipt clearfix"><span>收货人：{$vo.consignee_name}</span><span class="phone">{$vo.consignee_phone}</span></p>
                    <p class="address">收货地址：<span>{$vo.address}贷款</span></p>
                  </div>
                </div>
            <volist name="detail" id="vo1" >
                <div class="cart-main sumbit-main clearfix">
                  <div class="cart-img"><img src="{$vo1.img}" alt=""></div>
                  <div class="main-title">
                    <p>{$vo1.goods_name}</p>
                    <p>{$vo1.goods_attr}</p>
                    <div class="cart-integral clearfix">
                      <div><span class="fraction">{$vo1.values}</span> 积分</div>
                      <span>&times;{$vo1.sales_amount}</span>
                    </div>
                  </div>
                </div>
            </volist>



                <div class="payment-div1">共<span id="sum_number">{$vo.sum_number}</span>件，合计：<span id="sum_money">{$vo.amount}积分</span></div>
                <?php  if($vo['is_false']==1 and $vo['order_status']==0 ){  ?>
                    <div class="payment-div2"><a href="index.php?s=/Home/Order/pay&id={$vo.order_id}">去支付</a></div>
                <?php  }else if($vo['order_status']==2){  ?>
                   <div class="payment-div2"><a href="index.php?s=/Home/Order/complete_order&order_id={$vo.order_id}">确认收货</a></div>
                <?php    }else if($vo['order_status']==3 and $vo['is_comment']==0){  ?>
                   <div class="payment-div2"><a href="index.php?s=/Home/Order/comment_order&order_id={$vo.order_id}">去评价</a></div>
                <?php    } ?>

              </li>
        </volist>
        </ul>
      </div>
      <!-- 主要内容 -->

      <!-- 详情开始 -->
     <div class="product-show personal-love" id="like" style="margin-bottom: 56px;display:none;">
        <div class="love-text">
          <span></span>
          <p class="clearfix"><i class="icon iconfont">&#xe655;</i><span>猜你喜欢</span></p>
        </div>
        <div class="clearfix">
          <volist name="you_like" id="vo">
            <a href="index.php?s=/Home/Selected/goods_info&good_id={$vo.good_id}<?php echo $GLOBALS['puid_url'];   ?>">
              <img src="{$vo.good_cover}" alt="">
              <h2>{$vo.good_name}</h2>
              <p>{$vo.goods_producer} </p>
              <span>{$vo.good_value}积分</span>
            </a>
          </volist>
        </div>
      </div>
      <!-- 详情结束 -->
      <div style="height:50px;"></div>

      <!-- 页脚 -->
      <div class="footer clearfix footer-max">
        <?php  include "./Application/Home/View/Public/footer.php"; ?>
      </div>
      <!-- 页脚 -->
    </div>
    <div class="alert-message" style="z-index:999">
      <p></p>
    </div>

    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <script>
      goTop();
    </script>
     <script type="text/javascript">
     var page=2;
     //var back_page=0;
     var a=0;
     var status=<?php echo $_GET['status'];  ?>;
        $(window).scroll(function(){
        　　var scrollTop = $(this).scrollTop();
        　　var scrollHeight = $(document).height();
        　　var windowHeight = $(this).height();
        　　if(scrollTop + windowHeight == scrollHeight){
                get_comment();
        　　　　// alert("已经到最底部了！");
        　　}
      });
        function get_comment(){
          <?php if(isset($_GET['status'])){ echo "var status=".i('get.status').";";  }else{ echo "var status=999;"; } ?>
          if(a<1){
          $.ajax({
                  type:"get",
                  url:"index.php?s=/Home/Order/get_order",
                  data: {page:page,status:status},
                  dataType: "json",
                  success: function(msg){
                    if(msg.data!=null){

                      //back_page=page;
                      page=page+1;

                    }else{
                      a=a+1;
                      //back_page=page;

                    }
                    //console.log(back_page+'-----'+page);
                      //console.log(page);
                      //console.log(status);
                      //var origin_number=$("#").text();
                      //var origin_price=$("#").text();
                      //console.log(msg);
                      if(msg.status==1){
                          if(msg.data!=""){
                              var data=msg.data;
                              for(var key in data){
                                  //循环产品
                                  var new_number=0;
                                  var new_price=0;
                                  var goods_list="";
                                  var list="";
                                  for(var k in data[key].goods_list){
                                       goods_list=goods_list+'<div class="cart-main sumbit-main clearfix"><div class="cart-img"><img src="'+data[key].goods_list[k].img+'" alt=""></div><div class="main-title"> <p>'+data[key].goods_list[k].goods_name+'</p><p>'+data[key].goods_list[k].goods_attr+'</p><div class="cart-integral clearfix"><div><span class="fraction">'+data[key].goods_list[k].values+'</span> 积分</div><span>×'+data[key].goods_list[k].sales_amount+'</span></div></div></div>';
                                       //循环加上积分与数量
                                  }
                                  if(data[key].order_status==0){
                                    var display_pay='<div class="payment-div2"><a href="index.php?s=/Home/Order/pay&id='+data[key].order_id+'">去支付</a></div>';
                                  }else{
                                    var display_pay="";
                                  }
                                  if(data[key].order_status==2){
                                    var display_pay='<div class="payment-div2"><a href="index.php?s=/Home/Order/complete_order&order_id='+data[key].order_id+'">确认收货</a></div>';
                                  }
                                  if(data[key].is_false==0){
                                    var display_status='&nbsp;&nbsp;<span style="color:#f00;">已失效</span>';
                                  }else{
                                    var display_status="";
                                  }
                                   list=list+'<li><div class="title clearfix"><p class="pull-left"><span>订单号：</span><span>'+data[key].order_no+display_status+'</span></p><p class="pull-right">'+data[key].order_status_title+'</p></div><div class="sumbit-order clearfix"><i class="icon iconfont pull-left"></i><div class="pull-left"><p class="receipt clearfix"><span>收货人：'+data[key].consignee_name+'</span><span class="phone">'+data[key].consignee_phone+'</span></p><p class="address">收货地址：<span>'+data[key].address+'</span></p></div></div>'+goods_list+'<div class="payment-div1">共<span>'+data[key].sum_number+'</span>件，合计：<span>'+data[key].amount+'积分</span></div>'+display_pay+'</li>';
                              }

                              //console.log(list);
                              $("#goods_list_page").append(list);
                          }else{
                              //alert_msg('没有更多数据');
                              //$("#like").css('display','inline-block')
                          }
                          if(msg.data==null){
                            if(a==1){
                              alert_msg('没有更多数据');
                              $("#like").css('display','inline-block')
                            }

                          }
                      }else{
                        if(a==1){
                          alert_msg('没有更多数据');
                          $("#like").css('display','inline-block')
                        }
                      }

                  }
                });
              }
        }


    </script>
  </body>
</html>
