
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>我的足迹</title>

    <link href="css/reset.css" rel="stylesheet">
    <link href="css/exchange.css" rel="stylesheet">
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    < ![endif]-->
  </head>

  <body>
    <div class="container">
      <!-- 头部 -->
      <div class="cart-title">
        <a href="javascript:history.go(-1);"><i class="icon iconfont">&#xe61f;</i></a>
        <span>我的足迹</span>
      </div>

      <div class="footprint cart-main">

        <dl>
          <dt class="clearfix">
          <!--  <div class="checkboxFour">
              <input type="checkbox" id="checkboxFourInput1" name="checkbox1"/>
              <label for="checkboxFourInput1"></label>
            </div>
            <span class="pull-left">12月5号</span>-->
          </dt>
          <volist name="data" id="vo" key="k">
            <dd class="clearfix">
              <div class="checkboxFour">
                <input type="checkbox" id="checkboxFourInput{$k}" name="checkbox{$k}" goods_id="{$vo.good_id}" />
                <label for="checkboxFourInput{$k}"></label>
              </div>
              <a href="index.php?s=/Home/Selected/goods_info&good_id={$vo.good_id}<?php echo $GLOBALS["puid_url"];   ?>">
                <div class="cart-img"><img src="{$vo.good_cover}" alt=""></div>
                <div class="main-title">
                  <p>{$vo.good_name}</p>
                  <div class="cart-integral clearfix">
                    <div class="pull-left"><span class="fraction">{$vo.good_value}</span> 积分</div>
                  </div>
                </div>
              </a>
            </dd>
          </volist>



        </dl>
      </div>

      <!--<div class="footprint cart-main">
        <dl>
          <dt class="clearfix">
            <div class="checkboxFour">
              <input type="checkbox" id="checkboxFourInput4"/>
              <label for="checkboxFourInput4"></label>
            </div>
            <span class="pull-left">12月5号</span>
          </dt>

          <dd class="clearfix">
            <div class="checkboxFour">
              <input type="checkbox" id="checkboxFourInput5"/>
              <label for="checkboxFourInput5"></label>
            </div>
            <a href="">
              <div class="cart-img"><img src="images/11.jpg" alt=""></div>
              <div class="main-title">
                <p>特惠 离子空气净化器1 lonic Pro</p>
                <div class="cart-integral clearfix">
                  <div class="pull-left"><span class="fraction">10</span> 积分</div>
                </div>
              </div>
            </a>
          </dd>

          <dd class="clearfix">
            <div class="checkboxFour">
              <input type="checkbox" id="checkboxFourInput6"/>
              <label for="checkboxFourInput6"></label>
            </div>
            <a href="">
              <div class="cart-img"><img src="images/11.jpg" alt=""></div>
              <div class="main-title">
                <p>特惠 离子空气净化器2 lonic Pro</p>
                <div class="cart-integral clearfix">
                  <div class="pull-left"><span class="fraction">10</span> 积分</div>
                </div>
              </div>
            </a>
          </dd>
        </dl>
      </div>-->


      <div class="footprint-pd"></div>

      <div class="comment-footer clearfix footprint-footer footer-max">
        <div class="pull-left">
          <div class="checkboxFour">
            <input type="checkbox" id="checkboxFourInput20"/>
            <label for="checkboxFourInput20"></label>
          </div>
          <span>全部选中</span>
        </div>
        <div class="pull-right">
          <button id="footprint-delete">删除</button>
        </div>
      </div>

      <div class="footprint-alert">
        <div>
          <h2>你确定删除该商品吗？</h2>
          <div class="clearfix">
            <span class="pull-left cancel">取消</span>
            <span class="pull-left sure">确定</span>
          </div>
        </div>
      </div>

    </div>

    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <script>
      goTop();
      chioce_footprint();
    </script>

  </body>
</html>
