
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>微趣GO-积分规则</title>

    <link href="css/reset.css" rel="stylesheet">
    <link href="css/exchange.css" rel="stylesheet">
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    < ![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="jifen-main">
        <h2>如何获得积分</h2>
        <p>1.注册成为微趣GO新用户可获得积分</p>
        <p>2.完善个人资料可获得积分</p>
        <p>3.成功邀约好友注册微趣GO会员可获得积分</p>
        <p>4.每日签到可获得积分</p>
        <p>5.参与微趣GO平台发起的活动可获得积分</p>
      </div>
      <div class="jifen-main">
        <h2>积分奖励规则</h2>
        <p>1.注册成为微趣GO新用户可获得300积分</p>
        <p>2.完善个人资料可获得200积分</p>
        <p>3.成功邀约好友注册微趣GO会员可获得100积分</p>
        <p>4.每日签到领取积分详情如下：</p>
        <p>
          第一天：20<br/>
          第二天：30<br/>
          第三天：40<br/>
          第四天：50<br/>
          第五天：60<br/>
          第六天：70<br/>
          第七天及第七天之后：100<br/>
          如果签到中断，积分将会从第一天开始算起
        </p>
      </div>
      <div class="jifen-main" style="border-bottom: 0px solid #e2e2e2; ">
        <h2>积分爆增期</h2>
        <p>参与微趣GO不定期举办的活动可获得对应的高额积分奖励</p>
      </div>
    </div>

  </body>
</html>
