<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>微趣GO</title>
    
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/exchange.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    < ![endif]-->
  </head>

  <body>
    <div class="container">
      <!-- 头部 -->
      <div class="cart-title">
        <a href="javascript:history.go(-1);"><i class="icon iconfont">&#xe61f;</i></a>
        <span>手机号验证</span>
      </div>
      
      <div class="login">
        <ul>
          <li class="clearfix">
            <span>手机号</span><input type="text" placeholder="请输入您的手机号" id="phone" />
          </li>
          <li>
            <span>验证码</span>
            <p class="clearfix"><input class="pull-left" type="text" placeholder="短信中6位数字" id="user_code" /><input onclick="send_verify()" class="pull-left" type="button" value="发送验证码" id="send-code"></p>
          </li>
        </ul>
      </div>
      
      <div class="login-footer">
        <a href="javascript:login()">确认登录</a>
      </div>
      <input type="hidden" name="puid" id="puid" value="<?php echo $GLOBALS['puid_url'];   ?>"  />
    </div>

    <!-- js -->
    
    <script>
      find_password();
    </script>
  </body>
</html>