<include file="public:header"/>

<!-- Header ends -->

<!-- Main content starts -->

<div class="content">

        <!-- Main bar -->
    <div class="mainbar idx">
      
      <!-- Matter -->
    <img class="my-logo" src="__IMG__LOGO2.png" alt="">
    <div class="my-logo2">
      <img src="__IMG__logo3.png" alt="">
      <span>广州讯广信息科技有限责任公司</span>
      <p>本系统由讯广信息科技有限责任公司提供技术支持，技术服务热线：18718888969</p>
    </div>
  
    <!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->
   <div class="clearfix"></div>

</div>
<!-- Content ends -->

<!-- Footer starts -->
<include file="public:footer"/>