<include file="public:header"/>
  	<!-- Main bar -->
  	<div class="mainbar">
      
	    <!-- Page heading -->
	    <div class="page-head">
        <!-- Page heading -->
	      <h2 class="pull-left"> 
          <!-- page meta -->
          <span class="page-meta">修改会员标签</span>
        </h2>


        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
        
         
         
        </div>

        <div class="clearfix"></div>

	    </div>
	    <!-- Page heading ends -->



	    <!-- Matter -->

	    <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">


              <div class="widget wgreen">
                
                <div class="widget-head">
                  <div class="pull-left"></div>
                
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">

                   
                    <!-- Form starts.  -->
                     <form class="form-horizontal" role="form">
                              
                                 <div class="form-group">
                                  <label class="col-lg-4 control-label">标签</label>
                                  <div class="col-lg-2">
                                    <select class="form-control biaoqianbiaoqian">
                                    <volist name="label" id="label">
                                    <option value="{$label.label_no}" <if condition="$user['label_id'] eq $label.label_no">selected="selected"</if>>{$label.label_name}</option>
                                      </volist>
                                    </select>
                                  </div>
                                </div> 
                                
                            
                                <div class="form-group">
                                  <div class="col-lg-9">
                                    <input type="hidden" id="ididid"value="{$user['id']}">
                                    <button type="button" class="btn btn-primary user_lable">保存</button>
                                   
                                  </div>
                                </div>
                              </form>
                  </div>
                </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
              </div>  

            </div>

          </div>

        </div>
		  </div>

		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->	    	
   <div class="clearfix"></div>
<script src="__JS__jquery-2.1.1.min.js"></script>
<script type="text/javascript">
  $(function(){
  $(document).on('click','.user_lable',function(){
    var id =$('#ididid').val();
    if(id ==''){
      alert('非法操作');
      return false;
    }
     var label_id =$('.biaoqianbiaoqian').val();
      if(label_id==''){
        alert('你还没有标签');
        window.location="{:U('Customer/label_add')}";
      }
    $.ajax({
      type:'POST',
      url:"{:U('Customer/user_lable')}",
      data:{label_id:label_id,id:id},
      dataType:'json',
      success:function(data){
        if(data==1){
          alert('非法操作');
          location=location;
         }else if(data==2){
          window.location="{:U('Customer/member')}";
         }else if(data==3){
          alert('服务器延迟，请刷新后再试');
          location=location;
         }
      }
    })
  })
  });
</script>
</div>
<include file="public:footer"/>
