<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>找回密码</title>

    <link href="__CSS__bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__iconfont.css" rel="stylesheet">
    <link href="__CSS__all.css" rel="stylesheet">
    <!--[if IE]>
      <script src=”http://html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    < ![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="mobile-inner-header">
        <a href=""><i class="iconfont">&#xe601;</i></a>
        <span>找回密码</span>
        <a href="javascript:void(0)">&nbsp;</a>
      </div>
    </div>
    <div class="res-pd"></div>
    <div class="personal-data clearfix">
      <p class="clearfix phone"><span>手机号：</span><span>{$user.phone}</span></p>
      <p class="clearfix send-code"><span>验证码：</span><input type="text" class="param"><button type="button" class="btn" id="send-code">发送验证码</button><input type="hidden" value="{$user.phone}" class="phonephone"><input type="hidden" value="{$user.id}" class="idididid"></p>
      <p class="clearfix"><span>密码：</span><input type="password" class="xmima"></p>
      <p class="clearfix"><span>确认密码：</span><input type="password" class="qmima"></p>
    </div>
    
    <div class="login-btn"><input type="button" value="点击找回" class="querensave"></div>

    <div class="alert-message">
      <p></p>
    </div>
    <input type="hidden" id="send_param"value="{:U('send_param')}">
    <script src="__JS__jquery-2.2.2.min.js"></script>
    <script src="__JS__all.js"></script>
     <script type="text/javascript">
    $(function(){
        function alert_time() {
      $(".alert-message").show();
      setTimeout(function () {
        $(".alert-message").hide();
      }, 3000)
    }
      $(document).on('click','.querensave',function(){
        var param =$('.param').val();
        if(param==''){
           alert_time();
          $(".alert-message p").text('验证码不能为空');
          return false;
        }
        var xmima =$('.xmima').val();
         if(xmima.match(/^[a-zA-Z][a-zA-Z0-9_]{5,19}$/)===null){
          alert_time();
          $(".alert-message p").text('密码必须由6-20位字母a-z或数字组成,且开头必须为字母');
          return false;
      }
        var qmima =$('.qmima').val();
        if(qmima!=xmima){
           alert_time();
          $(".alert-message p").text('两次密码不一致');
          return false;
        }
        var phone =$('.phonephone').val();
        if(phone==''){
          location=location;
        }
        var id =$('.idididid').val();
        if(id==''){
          location=location;
        }
        $.ajax({
          type:"POST",
          url:"{:U('Login/retrieve_password_ajax')}",
          data:{param:param,xmima:xmima,phone:phone,id:id},
          dataType:'json',
          success:function(data){
            if(data==1){
              location=location;
            }else if(data==2){
              alert_time();
              $(".alert-message p").text('请点击发送验证码');
            }else if(data==3){
              alert_time();
              $(".alert-message p").text('验证时间过期');
            }else if(data==4){
              alert_time();
              $(".alert-message p").text('验证码不正确');
            }else if(data==5){
              window.location="{:U('Login/login')}";
            }else if(data==6){
             alert_time();
              $(".alert-message p").text('服务器延迟，请刷新后再试');
            }
          }
        });
      });
    });

    </script>
  </body>
</html>