<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>免费兑换</title>
    
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/exchange.css" rel="stylesheet">
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    < ![endif]-->
  </head>

  <body>
    <div class="container">
      <!-- 顶部滑动导航 -->
      <div class="slide-nav">
        <ul id="slider1" class="clearfix">
          <li><a class="active" href="">推荐</a></li>
          <li><a href="">食品</a></li>
          <li><a href="">时尚</a></li>
          <li><a href="">彩妆</a></li>
          <li><a href="">旅行</a></li>
          <li><a href="">推荐</a></li>
          <li><a href="">食品</a></li>
          <li><a href="">时尚</a></li>
          <li><a href="">彩妆</a></li>
          <li><a href="">旅行</a></li>
        </ul>
      </div>
      
      <!-- 搜索框 -->
      <div class="search">
        <input type="text" value="" id="search-input" />
        <div><img src="images/search.png"><span>搜索</span></div>
      </div>

      <!-- 手指滑动banner -->
      <div class="slider">
        <ul class="slides">
          <li class="slide">
            <div class="box"><a href=""><img class="img-responsive center-block" src="images/banner1.jpg" alt=""></a></div>
          </li>
          <li class="slide">
            <div class="box"><a href=""><img class="img-responsive center-block" src="images/banner1.jpg" alt=""></a></div>
          </li>
          <li class="slide">
            <div class="box"><a href=""><img class="img-responsive center-block" src="images/banner1.jpg" alt=""></a></div>
          </li>
          <li class="slide">
            <div class="box"><a href=""><img class="img-responsive center-block" src="images/banner1.jpg" alt=""></a></div>
          </li>
          <li class="slide">
            <div class="box"><a href=""><img class="img-responsive center-block" src="images/banner1.jpg" alt=""></a></div>
          </li>
        </ul>
      </div>
      
      <!-- 产品滑动 -->
      <div class="slide-product">
        <ul id="slider2" class="clearfix">
          <li>
            <a href="">
              <img src="images/210611291825.jpg" alt="">
              <h2>innisfree/绿茶水乳试用套装</h2>
              <p>230积分</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="images/210611291825.jpg" alt="">
              <h2>innisfree/绿茶水乳试用套装</h2>
              <p>230积分</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="images/210611291825.jpg" alt="">
              <h2>innisfree/绿茶水乳试用套装</h2>
              <p>230积分</p>
            </a>
          </li>
        </ul>
      </div>

      <!-- 试用装开始-->
      <div class="gray-mg"></div><!-- 占行 -->
      <div class="product-wrap">
        <a href=""><span>试用装</span><i class="icon iconfont">&#xe61f;</i></a>
        <a href=""><img src="images/banner1.jpg" class="img-responsive center-block" alt=""></a>
      </div>

      <!-- 产品滑动 -->
      <div class="slide-product">
        <ul id="slider3" class="clearfix">
          <li>
            <a href="">
              <img src="images/210611291825.jpg" alt="">
              <h2>innisfree/绿茶水乳试用套装</h2>
              <p>230积分</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="images/210611291825.jpg" alt="">
              <h2>innisfree/绿茶水乳试用套装</h2>
              <p>230积分</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="images/210611291825.jpg" alt="">
              <h2>innisfree/绿茶水乳试用套装</h2>
              <p>230积分</p>
            </a>
          </li>
        </ul>
      </div>
      <!-- 试用装结束-->
    </div>
  

    <!-- 灰色背景 -->
    <div class="container-gray">
      <!-- 详情开始 -->
      <div class="product-show">
        <h2><span>食品</span></h2>
        <div class="clearfix">
          <a href="">
            <img src="images/11.jpg" alt="">
            <h2>饼干零食糕点</h2>
            <p>越南进口 </p>
            <span>30积分</span>
          </a>
          <a href="">
            <img src="images/11.jpg" alt="">
            <h2>饼干零食糕点</h2>
            <p>越南进口 Tipo面包干鸡蛋牛奶味300g饼干零食糕点</p>
            <span>30积分</span>
          </a>
          <a href="">
            <img src="images/11.jpg" alt="">
            <h2>饼干零食糕点</h2>
            <p>越南进口 Tipo面包干鸡蛋牛奶味300g饼干零食糕点</p>
            <span>30积分</span>
          </a>
          <a href="" class="last-a">
            <h3>更多食品</h3>
            <img src="images/more2.png" alt="">
          </a>
        </div>
      </div>
      <!-- 详情结束 -->

    </div>

    <!-- 页脚 -->
    <div class="footer footer-max clearfix">
      <a class="active" href="">
        <img src="images/jinping.png" alt="">
        <span>精品</span>
      </a>
      <a href="">
        <img src="images/faxian1.png" alt="">
        <span>发现</span>
      </a>
      <a href="">
        <img src="images/gouwuche1.png" alt="">
        <span>购物车</span>
      </a>
      <a href="">
        <img src="images/my.png" alt="">
        <span>我的</span>
      </a>
    </div>

    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <!-- 滑动导航 -->
    <script type="text/javascript" src="js/touchslider.js"></script>
    <script type="text/javascript">
      var t11 = new TouchSlider('slider1',{duration:800, interval:3000, direction:0, autoplay:false, align:'left', mousewheel:false, mouse:true, fullsize:false});
      var t12 = new TouchSlider('slider2',{duration:800, interval:3000, direction:0, autoplay:false, align:'left', mousewheel:false, mouse:true, fullsize:false});
      var t13 = new TouchSlider('slider3',{duration:800, interval:3000, direction:0, autoplay:false, align:'left', mousewheel:false, mouse:true, fullsize:false});
    </script>
    
    <!-- 滑动banner -->
    <script type="text/javascript" src="js/jquery.glide.min.js"></script>
    <script type="text/javascript">
      var glide = $('.slider').glide({
          //autoplay:true,//是否自动播放 默认值 true如果不需要就设置此值
          animationTime:500, //动画过度效果，只有当浏览器支持CSS3的时候生效
          arrows:false, //是否显示左右导航器
          nav:true, //主导航器也就是本例中显示的小方块
          navCenter:true, //主导航器位置是否居中
          navClass:"slider-nav",//主导航器外部div类名
          navItemClass:"slider-nav__item", //本例中小方块的样式
          navCurrentItemClass:"slider-nav__item--current" //被选中后的样式
        }); 

      // 调用首页所需的JS
      indexJs();
      goTop();
    </script>
    
  </body>
</html>