<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>微趣GO</title>

    <link href="css/reset.css" rel="stylesheet">
    <link href="css/exchange.css" rel="stylesheet">
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    < ![endif]-->
  </head>

  <body>
    <div class="container-idx">

      <!-- 顶部滑动导航 -->
      <div class="slide-nav slide-fixed">
        <ul id="slider1" class="clearfix">
          <li><a class="" href="index.php?s=/Home/Selected<?php echo $GLOBALS['puid_url'];   ?>">推荐</a></li>
          <volist name="navigation" id="vo" key="key">
            <li <?php if(i('navigation_id')==$vo['navigation_id']){ echo  'class="active"'; }  ?>  ><a <?php if(i('get.navigation_id')==$vo['navigation_id']){ echo  'class="active"'; }  ?> href="index.php?s=/Home/Selected/type_detail&navigation_id=<?php echo $vo['navigation_id'];  ?><?php echo $GLOBALS['puid_url'];   ?>">{$vo.navigation_name}</a></li>
          </volist>
          <?php if(isset($_POST['search']) and (!isset($_GET['navigation_id']))){  ?>
            <li><a class="active" href="index.php?s=/Home/Selected<?php echo $GLOBALS['puid_url'];   ?>">搜索</a></li>
          <?php }else if($_GET['navigation_id']==""){ ?>
            <li><a class="active" href="index.php?s=/Home/Selected<?php echo $GLOBALS['puid_url'];   ?>">搜索</a></li>
            <?php  }  ?>
        </ul>
      </div>

      <!-- 搜索框 -->
        <div class="search search-input">
          <FORM METHOD=POST ACTION="index.php?s=/Home/Selected/type_detail&navigation_id=<?php  echo i('navigation_id');  ?><?php echo $GLOBALS["puid_url"];   ?>" >
          <input type="text" value="" id="search-input" name="search" />
          <div><img src="images/search.png"><span>搜索</span></div>
          <input type="submit" style="display:none">
          </FORM>
        </div>
      <div class="container-gray container-find">
	  <!-- 搜索框 -->
      <!-- <div class="search">
        <FORM METHOD=POST ACTION="index.php?s=/Home/Selected/type_detail&navigation_id=<?php  echo i('navigation_id');  ?><?php echo $GLOBALS["puid_url"];   ?>" >
          <input type="text" value="" id="search-input" name="search" />
          <div><img src="images/search.png"><span>搜索 </span></div>
        </FORM>

      </div> -->
        <!-- 详情开始y -->
        <div class="find-detail">
          <ul class="clearfix">
          <notempty name="goods_lists">
            <volist name="goods_lists" id="vo" >
              <li>
              <a href="index.php?s=/Home/Selected/goods_info&good_id={$vo.good_id}<?php echo $GLOBALS['puid_url'];   ?>">
                <img src="{$vo.good_cover}" alt="">
              </a>
                <h2>{$vo.good_name}</h2>
                <p>{$vo.goods_producer} </p>
                <span>{$vo.good_value}积分</span>

              <img src="images/gouwuche1.png" alt="" onclick="change_display1({$vo.good_id})">
            </li>
            </volist>
            <else />
              <div class="cart-none order-none">
              <p>暂无商品╭(╯ε╰)╮</p>
              </div>
            </notempty>
          </ul>
        </div>
        <!-- 详情结束 -->
        <!-- 弹出购物车 start -->
          <input type="hidden"  id="goods_id" value="">
          <input type="hidden" id="attr_number" value="">
          <div class="alert-cart footer-max">
          <div class="wrap footer-max">
            <div class="title">
              <img id="goods_img_cart" src="{$data.good_cover}" alt="">
              <span id="price_main">{$data.true_price}</span>
              <p id="has-choice">已选：<span></span></p>
              <i class="icon iconfont" id="close-cart">&#xe7cc;</i>
            </div>


            <div class="clearfix last-div">
              <span class="pull-left">购买数量</span>
              <div class="cart-integral pull-right">
                <p class="clearfix">
                  <span class="reduce">-</span>
                  <span class="number">1</span>
                  <span class="add">+</span>
                </p>
              </div>
            </div>
            <div class="cart-btn"><button>加入换物车</button></div>
          </div>
        </div>


        <!--弹出加入购物车end-->
        <!-- 页脚 -->
        <div class="footer footer-max clearfix">
          <?php  include "./Application/Home/View/Public/footer.php"; ?>
        </div>
      </div>

    </div>

    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <!-- 滑动导航 -->
    <script type="text/javascript" src="js/touchslider.js"></script>

    <script type="text/javascript">
    function change_display1(goods_id){
      $('#attr_number').val('');
      $('#goods_id').val(goods_id);
      $('#goods_img_cart').attr('src','');
      $('#price_main').html('');
      $.ajax({
  			url: 'index.php?s=/Home/Selected/goods_info',
  			type: 'get',
  			dataType: 'json',
  			data: {good_id: goods_id},
  			success:function(data){
          $("#attr_number").val(data.data.attr_number);
          console.log(data);
          $('#price_main').html(data.data.true_price);
          $('#goods_img_cart').attr('src',data.data.good_cover);
          $('.attribute').remove();
          $('.number').html(1);
          var attr=data.data.attr_data;
          var attr_html="";
          for (var key in attr) {
            var attr_name="";
            for (var k in attr[key].list) {
              attr_name+='<span onclick="g('+attr[key].list[k].symbol+','+key+')" id="attr_'+attr[key].list[k].symbol+'"  attr_val="'+attr[key].list[k].symbol+'">'+attr[key].list[k].attr_value+'<INPUT TYPE="hidden" NAME="" id="'+attr[key].list[k].symbol+'" value="'+attr[key].list[k].symbol+'"> </span>';
            }
            attr_html+='<div class="attribute "><h2>'+attr[key].attr_name1+'</h2>'+attr_name+'</div>';
            //console.log(attr_html);
          }
          $('.title').after(attr_html);
          var documentHeight = $(document).height();
      		$(".alert-cart").height(documentHeight);
          //$('.alert-cart').show();

  			}
  		})
      var documentHeight = $(document).height();
  		$(".alert-cart").height(documentHeight);
      //$('.alert-cart').show();
    }
      var t11 = new TouchSlider('slider1',{duration:800, interval:3000, direction:0, autoplay:false, align:'left', mousewheel:false, mouse:true, fullsize:false});
      goTop ();
      cart_choice();
      indexJs();
      product_detail();
      add_reduce();
      classification()
    </script>
    <script type="text/javascript" >
    var attr_array=[];
    function g(attr_val,type_val){
      console.log(attr_val+'---'+type_val);
      attr_array[type_val]=attr_val;
      console.log(attr_array);
      //console.log('123');
      // $(this).addClass('active').siblings().removeClass('active');
  		// var attrs = $(".attribute");//获取有多少个attribute;
  		// $("#has-choice span").text('');
  		// var attr_val="";
  		// for(var i = 0;i < attrs.length;i++){
  		// 	var spans = $(".attribute").eq(i).find('span').length;
  		// 	for(var j = 0;j < spans;j++){
  		// 		var temp = $(".attribute").eq(i).find('span').eq(j).attr("class");
  		// 		if( temp == 'active'){
  		// 			var temp_text = $(".attribute").eq(i).find('span').eq(j).html();
  		// 			$("#has-choice span").append('"'+temp_text+'"'+" ");
  		// 			//根据所选获取库存与积分start
      //
  		// 			//根据所选获取库存与积分end
  		// 		}
  		// 	}
  		// }
  		// //重新判断start
  		// var goods_id = $("#goods_id").val();
  		// var number = $(".cart-integral .number").text();
  		// var attr_length = $(".attribute span").length;
  		// var attr_val="";
  		// var get_attr_number=0;
  		// var attr_number=$("#attr_number").val();
  		// for(var i = 0;i < attr_length;i++){
  		// 	if ($(".attribute span").eq(i).attr('class') == 'active') {
  		// 		get_attr_number=get_attr_number+1;
  		// 		if (attr_val == "") {
  		// 			attr_val = $(".attribute span").eq(i).attr('attr_val');
  		// 		}else{
  		// 			attr_val = attr_val +','+$(".attribute span").eq(i).attr('attr_val');
  		// 		}
      //
  		// 	}
  		// }
    }
    $(".attribute span").click(function() {
		$(this).addClass('active').siblings().removeClass('active');
		var attrs = $(".attribute");//获取有多少个attribute;
		$("#has-choice span").text('');
		var attr_val="";
		for(var i = 0;i < attrs.length;i++){
			var spans = $(".attribute").eq(i).find('span').length;
			for(var j = 0;j < spans;j++){
				var temp = $(".attribute").eq(i).find('span').eq(j).attr("class");
				if( temp == 'active'){
					var temp_text = $(".attribute").eq(i).find('span').eq(j).html();
					$("#has-choice span").append('"'+temp_text+'"'+" ");
					//根据所选获取库存与积分start

					//根据所选获取库存与积分end
				}
			}
		}
		//重新判断start
		var goods_id = $("#goods_id").val();
		var number = $(".cart-integral .number").text();
		var attr_length = $(".attribute span").length;
		var attr_val="";
		var get_attr_number=0;
		var attr_number=$("#attr_number").val();
		for(var i = 0;i < attr_length;i++){
			if ($(".attribute span").eq(i).attr('class') == 'active') {
				get_attr_number=get_attr_number+1;
				if (attr_val == "") {
					attr_val = $(".attribute span").eq(i).attr('attr_val');
				}else{
					attr_val = attr_val +','+$(".attribute span").eq(i).attr('attr_val');
				}

			}
		}
	});
    </script>
  </body>
</html>
