<include file="public:header"/>
<link href="__CSS__page.css" rel="stylesheet" type="text/css" />
<!-- Header ends -->

<!-- Main content starts -->


    <!-- Sidebar ends -->

  	<!-- Main bar -->
  	<div class="mainbar">

      <!-- Page heading -->
      <div class="page-head">
        <h2 class="pull-left">商品</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
        
        
        </div>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->


	    <!-- Matter -->

	    <div class="matter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left"><a href="{:U('Shop/commodity_add',array('page'=>$p))}"><button type="button" class="btn btn-success">新建商品</button></a>
                   <button type="button" class="btn btn-danger batchdeletegoods">批量删除商品</button>
                  </div>

                  <div>
                    <form  action="" method="post">
                    &nbsp;&nbsp;&nbsp;
                     <input type="text" style="border-radius:5px;border:1px solid #000;" placeholder="商品名称" name="good_name" id="good_name">
                     <button type="submit" class="btn btn-primary" id="goodsave">搜索</button>
                    </form>
                  </div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content medias">
                  
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>
                            <span class="uni">
                              <input type='checkbox'  id="checkall"/>
                            </span>
                          </th>
                          <th>商品名称</th>
                          <th>编号</th>
                          <th>商品单位</th>
                          <th>积分</th>
                          <th>导航分类</th>
                          <th>商品分类</th>
                          <th>库存量</th>
                          <th>销售量</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>

                      <volist name="list" id="list">
                        <tr>
                          <td>                            
                            <span class="uni">
                              <input type="checkbox"  value="{$list.good_id}" name="good_id[]">
                            </span>
                          </td>
                          <td>{$list.good_name}</td>
                          <td>{$list.good_no}</td>
                          <td>{$list.unit}</td>
                          <td>{$list.good_value}</td>

                          <?php
                          $navigation_list =$navigation[$list['good_id']];
                          $stype =$goods_type[$list['good_id']];
                          ?>
                          <td>{$navigation_list['navigation_name']}</td>
                          <td>{$stype.type_name}<if condition="$stype['type_name'] eq ''">默认</if></td>
                          <td><if condition="$list['goods_stock_amount'] eq ''">0<else />{$list.goods_stock_amount}</if></td>
                         <td>{$list.sales_amount}</td>
                         
                          
                          <td>

                              
                              <a href="{:U('Shop/commodity_update',array('good_id'=>$list['good_id'],'page'=>$p))}"><button class="btn btn-xs btn-default"><i class="icon-pencil"></i> </button></a>
                              <button class="btn btn-xs btn-danger deletegoods"><i class="icon-remove"></i> </button>
                              <input type="hidden" value="{$list.good_id}">
                              <a href="{:U('Shop/attribute',array('good_id'=>$list['good_id']))}"><button type="button" class="btn btn-primary">属性</button></a>
                              <a href="{:U('Shop/commodity_attribute_add',array('good_id'=>$list['good_id']))}"><button type="button" class="btn btn-primary">添加商品属性</button></a>
                              <a href="{:U('Shop/commodity_attribute_update',array('good_id'=>$list['good_id']))}">
                              <button type="button" class="btn btn-warning fasong">修改商品属性</button></a>
                              <a href="{:U('Daily/commodity_update',array('good_id'=>$list['good_id']))}"><button type="button" class="btn btn-info">升级为活动商品</button></a>
                          </td>
                        </tr>
                        </volist>
                                                         

                      </tbody>
                    </table>

                    <div class="widget-foot">


                      
                        <ul class="pagination pull-right">
                          <div class="sabrosus">{$page}</div>
                        </ul>
                      
                      <div class="clearfix"></div> 

                    </div>

                </div>
              </div>  
              
            </div>
          </div>
        </div>
		  </div>

		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->	    	
   <div class="clearfix"></div>

</div>
<script src="__JS__jquery-2.1.1.min.js"></script>
<script type="text/javascript">
  $(function(){
    $(document).on('click','.deletegoods',function(){
      var good_id =$(this).next('input').val();
      if(good_id==''){
        alert('非法操作');
        location =location;
      }
      $.ajax({
        type:'POST',
        url:"{:U('Shop/commodity_delete')}",
        data:{good_id:good_id},
        dataType:'json',
        success:function(data){
          if(data==1){
            alert('非法操作');
            location=location;
          }else if(data==2){
            location=location;
          }else if(data==3){
            alert('服务器延迟，请重新再试');
            location=location;
          }
        }
      })
    });
     $("#checkall").click(function(){
          if($("#checkall").is(":checked")== true){
              $('input[name="good_id[]"]').each(function(){
                this.checked = true;
              });
          }else{
              $('input[name="good_id[]"]').each(function(){
                this.checked = false;
              });
          }
          });
          $(document).on('click','.batchdeletegoods',function(){
                var obj=document.getElementsByName('good_id[]'); //选择所有name="'test'"的对象，返回数组
              //取到对象数组后，我们来循环检测它是不是被选中
              var s='';
              for(var i=0; i<obj.length; i++){
              if(obj[i].checked) s+=obj[i].value+','; //如果选中，将value添加到变量s中
              }
              if(s==''){
              alert('你还没有选择任何内容！');
              return false;
              }
              $.ajax({
                type:'GET',
                url:"{:U('Shop/batchdeletegoods')}",
                data:{good_id:s},
                success:function(data){
                  if(data==1){
                    location=location;
                  }else if(data==2){
                    alert('商品器延迟，请重新再试');
                    location=location;
                  }
                }
              })
      });
  });
</script>
<!-- Content ends -->

<!-- Footer starts -->
<include file="public:footer"/>